body {
  font-family: 'Segoe UI', sans-serif;
  background-color: #f4f6f8;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.message {
  text-align: center;
}

.message h2 {
  color: #00204a;
}

.btn-back {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #00204a;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.btn-back:hover {
  background-color: #001c3a;
}
